{php $info = siteinfo(1);$info = string2array($info['infos']);}
<!doctype html><head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=3.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{CSS_PATH}wap/style.css" />
    <script src="{JS_PATH}TouchSlide.1.1.js"></script>
    <script src="{JS_PATH}zepto.js"></script>
    <title>{if $catname}{$catname}-{if isset($page)&&$page>1}第{$page}页-{/if}{elseif $title && $_GET['m']!='ask'}{$title}-{if isset($page)&&$page>1}第{$page}页-{/if}{elseif $_GET['m']=='ask' && $_GET[a]=='lists'}在线咨询-{if isset($page)&&$page>1}第{$page}页-{/if}深圳追债网{elseif $_GET['m']=='ask' &&$_GET[a]=='show'}{str_cut($content,90,false)}-深圳追债网{else}深圳债务纠纷律师|深圳经济纠纷律师|深圳债务追讨律师-深圳追债网{/if}{if $catid=="" && $CAT[parentid]==0}{else}深圳追债网{/if}</title> 
    <meta name="keywords" content="{if $catname&&!isset($id)}{$catname}{elseif $title&&isset($id)}{$rs[keywords]},{$CAT[catname]},{$title}{else}深圳债务纠纷律师,深圳经济纠纷律师,深圳债务追讨律师,深圳追债网{/if}"/>
    <meta name="description" content="{if $title&&isset($id)}{$rs[description]}{elseif $catid==""&&$_GET[m]=='content'}深圳追债网{$CAT[catname]}栏目为您提供{$CAT[catname]}相关法律知识和内容，如果还需要更多的、专业的{$CAT[catname]}知识，可咨询深圳追债律师李源律师，咨询热线：{$SITEINFO['tel']}{elseif $_GET['m']=='ask' && $_GET[a]=='lists'}在线咨询-深圳追债网{elseif $_GET['m']=='ask' && $_GET[a]=='show'}{$content}{else}深圳追债网是由深圳李源律师创建,擅长民间借贷,债务清收,执行案件代理,互联网金融,供应链金融,债务纠纷等法律事务,咨询热线：{$SITEINFO['tel']}。{/if}"/>
</head>
<div class="main">
    <div class="header cl">
        <div class="logo fl">
            <a href="/"><img  src="{IMG_PATH}wap/logo.jpg" alt="深圳追债网"></a>
        </div>
        <div class="phone fr">
            <img class="fl" alt="{$info['mobile']}" src="{IMG_PATH}wap/phone.jpg">
            <p class="fl">李源律师：</br>
                {$info['mobile']}</p>
        </div>

    </div>
    <div id="focus" class="focus">
        <div class="hd">
            <ul>

            </ul>
        </div>
        <div class="bd">
            <ul>
                <li> <a href="#"><img _src="{IMG_PATH}wap/banner.jpg" src="{IMG_PATH}wap/blank.png" alt="深圳追债网" /></a></li>
                <li><a href="#"><img _src="{IMG_PATH}wap/banner1.jpg" src="{IMG_PATH}wap/blank.png" alt="深圳供应链金融律师"/></a></li>
                <li><a href="#"><img _src="{IMG_PATH}wap/banner2.jpg" src="{IMG_PATH}wap/blank.png" alt="深圳债务追讨律师"/></a></li>
            </ul>
        </div>
    </div>
    <div class="ix-con">
        <ul>
            <li><a href="/lists_12.html" class="rel"><img src="{IMG_PATH}wap/icon2.jpg" alt=""><br />供应链金融</a></li>
            <li><a href="/lists_18.html" class="rel"><img src="{IMG_PATH}wap/icon8.jpg" alt=""><br />互联网金融 </a></li>
            <li><a href="/lists_11.html" class="rel"><img src="{IMG_PATH}wap/icon1.jpg" alt=""><br />民间借贷</a></li>
            <li><a href="/lists_13.html" class="rel"><img src="{IMG_PATH}wap/icon3.jpg" alt=""><br />企业账款清收</a></li>
        </ul>
        <ul class="ix-conb">
            <li><a href="/lists_14.html" class="rel"><img src="{IMG_PATH}wap/icon4.jpg" alt=""><br />不良资产处理</a></li>
            <li><a href="/lists_15.html" class="rel"><img src="{IMG_PATH}wap/icon5.jpg" alt=""><br />国际债务清收</a></li>
            <li><a href="/lists_16.html" class="rel"><img src="{IMG_PATH}wap/icon6.jpg" alt=""><br />非诉债务清收</a></li>
            <li><a href="/lists_17.html" class="rel"><img src="{IMG_PATH}wap/icon7.jpg" alt=""><br /> 执行案件代理</a></li>
        </ul>
    </div>

    <div class="introduce">

        <div class="bd">


            <div class="cl"></div>


            <div class="fl bd_con">
                <div class="hd">
                    <a href="/lists_8.html"><span>首席律师</span></a>
                    <br/>
                </div>
                <em>Chief Counsel</em> 
                <div class="line"></div>
                {wy:get sql="select * from wy_page where catid=8" return="data"}
                {loop $data $r}
                <p>{str_cut(strip_tags($r['content']),'160','...')}<a href="/lists_8.html">  【详细】</a></p>
                {/loop}
                {/wy}
            </div>

            <div class="bd_img fl"> 
                <a href="/lists_8.html"><img alt="李源律师" src="{IMG_PATH}wap/people_img.jpg" /></a>
            </div>
        </div>  
    </div>    

    <div class="ix-teamlist">
        <div class="cl">
            <span class="fr"><a href="/lists_24.html">更多</a></span><h3><b class="line1">成功案例</b><em>Cases</em></h3>
        </div>

        <ul class="ix-tlCon">
            {wy:content action="lists" catid="24" num="5" order="inputtime desc" return="data"}
            {loop $data $r}
            <li class="rel cl"><em class="ico_list"><img src="{IMG_PATH}wap/iconlist.jpg"></em><a href="/show_{$r[catid]}_{$r[id]}.html">{str_cut($r['title'],'50','...')}</a></li>
            {/loop}
            {/wy}
        </ul>
    </div>
  {template "wap","footer"}